---
#
---

$white: #ffffff;
$purple-200: #DBBFFF;
$purple-400: #6336A0;
$purple-900: darken($purple-400, 20%);
$yellow--400: #D2A125;
$rokkitt: 'Rokkitt', serif;
$sans-serif: 'Josefin Sans', sans-serif;
$break-small: 320px;
$break-large: 1200px;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin inline-flex() {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin flex-direction-col() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin justifyContent($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
@mixin alignItems($align) {
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  align-items: $align;
}

@mixin desktop {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 30em) {
    @content;
  }
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body {
  background: $white;
  color: #444;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.body--full-height {
  height: 100%;
}

// Global box-sizing

*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.clear:before,
.clear:after {
  content:' ';
  display:table;
}
.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}

a {
  text-decoration: none;
}

/*
  Home 2017
*/

.home__hero-image {
  background: url('../img/home-hero-image.png') center right no-repeat;
  background-size: cover;
  display: block;
  height: calc(100vh);
  width: 100%;
}

.hero__copy-container {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hero__copy--top {
  color: $white;
  font-size: 3.5rem;
}
.hero__copy--bottom {
  color: $white;
  font-family: 'Rokkitt', serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #000;
}
.hero__button-container {
  font-size: 1.5rem;
  display: block;
  a {
    display: table;
    margin: 0 auto;
    span {
      display: table-cell;
      vertical-align: middle;
      img {
        margin-left: 0.5rem;
        margin-top: 0.15rem;
      }
    }
  }
}

.home__media-block--one {
  background-size: cover;
  background: url('../img/home-media-block-one.png') center right no-repeat;
  border-bottom: solid 4px $purple-200;
  height: 620px;
  width: 100%;
}




/*
  Global Elements 2017
*/
h1, h2, h3 {
  font-family: rokkitt;
}
.header__wrapper {
  padding-top: 8rem;
  text-align: center;
  h1 {
    color: $purple-400;
    font-family: rokkitt;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0;
    @include mobile {
      font-size: 2rem;
    }
  }
  h1:before {
    content: "";
    background: red;
    height: 20px;
    width: 100%;
  }
  h1+p {
    margin: 1rem 0;
  }
  @include mobile {
    padding: 0.5rem;
    padding-top: 8rem;
  }
}

.button {
  @include flexbox;
  @include justifyContent(center);
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.75rem 2rem;
}
.button--small {
  font-size: 1rem;
  padding: 0.75rem  1rem 0.5rem;
}
.button--purple {
  background: $purple-400;
  border: 1px solid $purple-200;
  color: $white;
  &:hover {
    background: $purple-900;
  }
}

.hidden {
  display: none;
}

/*
  New Navigation 2017
*/
.new__logo-container {
  left: 0;
  position: fixed;
  top: 1rem;
  z-index: 101;
  img {
    @include transition(all .3s ease);
    width: 235px;
  }
  img.smaller {
    width: 175px;
  }
  @include mobile {
    img {
      width: 175px;
    }
  }
}
.new__menu-button {
  @include transition(background .5s ease-out);
  background: rgba($white, .8);
  border-radius: 10rem;
  color: $purple-400;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 1rem 0.75rem;
  position: fixed;
  right: 1%;
  top: 1.5rem;
  z-index: 101;
  &:hover {
    background: rgba($white, 1);
    box-shadow: 0 1px 3px #333;
  }
  @include mobile {
    top: 1rem;
  }
}
.new__menu-button--smaller {
  @include transition( all .3s ease);
  font-size: 1.5rem;
  img {
    width: 21px;
  }
}
.new__menu-button--white {
  color: $white;
}
.new__menu-button--purple {
  color: $purple-400;
}
.new__nav {
  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
  background: rgba($white,0.6);
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15rem;
  position: fixed;
  right: 0;
  text-align: right;
  top: 1rem;
  width: 100%;
  z-index: 100;
  li {
    padding: 1.5rem 0;
    a {
      color: $purple-400;
      padding: 0.5rem 1rem;
      &:hover {
        color: $purple-900;
      }
    }
    @include mobile {
      padding: 1.5rem;
    }
  }
  &:hover {
    background: rgba($white,1);
  }
}

.new__nav--show {
  @include flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  @include justifyContent(space-around);
}

.new__close-button {
  cursor: pointer;
  position: fixed;
  right: 18px;
}
  /*
    Mobile
  */
  @include mobile {
    .new__nav {
      background-color: $white;
      box-shadow: 0 3px 1rem #333;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 95%;
      @include justifyContent(center);
      left: 0;
      margin: 1rem auto;
      padding: 0;
      position: fixed;
      right: 0;
      text-align: center;
      top: 0;
      width: 95%;
      z-index: 101;
    }
    .new__close-button {
      top: 0;
      @include mobile {
        top: 25px;
      }
    }
  }

/*
  Top Shots Grid
*/
.top-shot__grid {
  @include flexbox;
  max-width: 1366px;
  margin: 0 auto;
  @include justifyContent(space-around);
  @include mobile {
    @include flex-direction-col;
  }
}

.top-shots__grid--cell {
  @include flex(1);
  max-width: 640px;
  margin: 5px;
  img {
    width: 100%;
    border: solid 1px #dedede;
    border-radius: 0.25rem;
    &:hover {
      @include transition(0.5s ease-out);
      position: relative;
      box-shadow: 0 0.25rem 0.5rem rgba($purple-900, 0.5);
      cursor: pointer;
    }
  }
  &:nth-child(even) {
    -webkit-animation-delay: 2s;
    animation-delay: .1s;
  }
}

.css-flex {
  @include flexbox;
  @include justifyContent(center);
  div {
    margin-right: 0.5rem;
    img {
      width: 100%;
    }
  }
  &:last-child {
    margin-bottom: 2rem;
  }
  @include mobile {
    @include flex-direction-col;
  }
}
/*
  Portfolio
*/
.gray-background {
  background: url('../img/designs/background-gray.png') no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 840px;
  @include mobile {
    background-position: center center;
  }
}

.portfolio__container--1col {
  text-align: center;
  @include mobile {
    padding: 0.5rem;
  };
  h2 {
    color: lighten($purple-400, 10%);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 4rem 0 0.5rem;
    padding-bottom: 0;
    @include mobile {
      font-size: 2rem;
    }
  }
  h2+p {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
  img {
    width: 100%;
    max-width: 1006px;
  }
}
.portfolio__container--1col > .css-flex {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @include mobile {
    flex-direction: column;
  }
}

.portfolio-description {
  text-align: left;
  max-width: 550px;
  width: 100%;
  margin: 5rem auto 3rem;
  h2 {
    color: $purple-400;
    display: block;
    font-family: $sans-serif;
  }
  p {
    margin-bottom: 4rem;
    line-height: 2rem;
  }
  @include mobile {
    padding: 0 1.5rem;
  }
}

.portfolio-back {
  font-size: 14px;
  position: fixed;
  right: 1rem;
  text-align: center;
  top: 6rem;
  a {
    @include transition(background 0.5s ease-out);
    color: $purple-400;
    background: rgba($white, .7);
    padding: 0.75rem 1rem 0.5rem;
    border-radius: 2rem;
    border: solid 1px $white;
    &:hover {
      background-color: $white;
    }
  }
  @include mobile {
    bottom: 1rem;
    left: 0;
    margin: auto;
    right: 0;
    top: inherit;
  }
}
.profile__container {
  border: solid 1px #979797;
  max-width: 420px;
  padding: 4rem;
}
.profile__header {
  @include flexbox;
}
.profile__avatar {
  width: 100px;
  height: 100px;
}
.story {
  @include flexbox;
  @include mobile {
    flex-direction: column;
  }
}
.story__image {
  width: 450px;
  img {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
}
.story__copy {
  flex: 1;
}

/*
  Snippet Container
*/
.snippet__container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto 2rem auto;
}

/*
  Contact
*/
.contact-container {
  label {
    display: block;
  }
  .text-input {
    font-size: 1rem;
    width: 100%;
    line-height: 24px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: $sans-serif;
    border: solid 1px #dadada;
  }
  width: 500px;
  padding: 1rem;
  margin: 0 auto;
  .button {
    padding: 0.75rem 1rem 0.5rem;
    font-size: 18px;
    font-family: $sans-serif;
  }
}


/*
  Footer
*/
footer {
  background-color: $purple-900;
  bottom: 0;
  color: $purple-200;
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
}
.footer__icon-container {
  @include flexbox;
  @include justifyContent(center);
  @include alignItems(center);
  div {
    font-size: 16px;
    padding: 3px 0.5rem 2px;
  }
  @include mobile {
    flex-direction: column;
    div {
      font-size: 21px;
      padding: 1rem 0;
    }
    img {
      width: 35px;
    }
  }
}
