/* line 1, ../sass/ace.event.scss */
button:active {
  outline: none;
}

/* line 4, ../sass/ace.event.scss */
button:focus,
input:focus {
  outline: none;
}

/* line 8, ../sass/ace.event.scss */
.event-wrapper {
  min-height: 400px;
  max-width: 1280px;
  margin: 0 auto;
}

/* line 13, ../sass/ace.event.scss */
.social-container {
  height: 60px;
}
@media only screen and (max-width: 40.063em) {
  /* line 13, ../sass/ace.event.scss */
  .social-container {
    display: none;
  }
}

/* line 19, ../sass/ace.event.scss */
.event-label-container {
  border: solid 1px #dedede;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
/* line 30, ../sass/ace.event.scss */
.event-label-container .col-1,
.event-label-container .col-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  ms-flex: 1;
  flex: 1;
  position: relative;
}
@media only screen and (max-width: 40.063em) {
  /* line 19, ../sass/ace.event.scss */
  .event-label-container {
    flex-flow: column;
  }
}
@media only screen and (max-width: 40.063em) {
  /* line 43, ../sass/ace.event.scss */
  .event-label-container .col-1 {
    order: 2;
  }
  /* line 46, ../sass/ace.event.scss */
  .event-label-container .col-2 {
    order: 1;
  }
}

/* line 52, ../sass/ace.event.scss */
.free-and-easy {
  text-align: center;
  line-height: .9em;
  position: absolute;
  right: 0;
  width: 65%;
  padding-top: 37px;
}
/* line 59, ../sass/ace.event.scss */
.free-and-easy p {
  padding: 0;
  margin: 0;
  color: #d00;
  font-weight: 700;
}
/* line 65, ../sass/ace.event.scss */
.free-and-easy span {
  font-size: .8em;
  color: #888;
}
@media only screen and (max-width: 40.063em) {
  /* line 52, ../sass/ace.event.scss */
  .free-and-easy {
    position: relative;
    width: 100%;
    padding: 10px 0 16px;
    border-bottom: solid 1px #dedede;
    display: none;
  }
}

/* line 77, ../sass/ace.event.scss */
.label-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
/* line 87, ../sass/ace.event.scss */
.label-flex .flex-day,
.label-flex .flex-event {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  ms-flex: 1;
  flex: 1;
}

/* line 96, ../sass/ace.event.scss */
.flex-day {
  max-width: 135px;
  border-right: solid 1px #dedede;
  color: #666;
  background-color: #f7f7f7;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 40.063em) {
  /* line 96, ../sass/ace.event.scss */
  .flex-day {
    max-width: 90px;
  }
}

/* line 107, ../sass/ace.event.scss */
.new-faux-table {
  display: table;
  width: 100% !important;
  min-height: 100px;
}

/* line 112, ../sass/ace.event.scss */
.new-faux-cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 116, ../sass/ace.event.scss */
span.day-checkout {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* line 123, ../sass/ace.event.scss */
span.month-checkout {
  text-align: center;
  display: block;
  font-size: 14px;
}

/* line 128, ../sass/ace.event.scss */
.flex-event {
  min-width: 340px;
  max-width: 500px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 40.063em) {
  /* line 128, ../sass/ace.event.scss */
  .flex-event {
    min-width: inherit;
    max-width: inherit;
  }
}
/* line 140, ../sass/ace.event.scss */
.flex-event span {
  display: block;
  text-transform: uppercase;
  color: #333;
}
/* line 145, ../sass/ace.event.scss */
.flex-event .event-name {
  font-weight: 700;
  font-size: 1.1em;
}
/* line 149, ../sass/ace.event.scss */
.flex-event .event-details {
  font-weight: 300;
  color: #777;
}
/* line 152, ../sass/ace.event.scss */
.flex-event .event-details a {
  color: #d00;
}

/* line 157, ../sass/ace.event.scss */
.map-wrapper {
  min-height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

/* line 166, ../sass/ace.event.scss */
.map-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  ms-flex: 1;
  flex: 1;
  position: relative;
}

/* line 174, ../sass/ace.event.scss */
.ticket-container {
  max-width: 445px;
  width: 100%;
}

/* Map Buttons */
/* line 181, ../sass/ace.event.scss */
.button-wrapper {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
}
/* line 188, ../sass/ace.event.scss */
.button-wrapper .button {
  border: solid 2px #dedede;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 39px;
  line-height: 50px;
  width: 39px;
  position: relative;
  margin: 3px;
}
/* line 197, ../sass/ace.event.scss */
.button-wrapper .button:hover {
  cursor: pointer;
}
/* line 200, ../sass/ace.event.scss */
.button-wrapper .button:active {
  color: #fff;
  background-color: #dedede;
}

/* line 206, ../sass/ace.event.scss */
.button:hover:before {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #333;
  bottom: 9px;
  content: "";
  left: 39px;
  position: absolute;
  z-index: 99;
  animation: nudge 0.5s ease;
}

/* line 220, ../sass/ace.event.scss */
.button:hover:after {
  background: #333;
  font-size: 14px;
  bottom: 1px;
  color: #fff;
  content: attr(title);
  left: 45px;
  padding: 0 20px 0px;
  position: absolute;
  z-index: 98;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  animation: nudge 0.5s ease;
}

@keyframes nudge {
  0% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* line 248, ../sass/ace.event.scss */
.zoom-in,
.zoom-out,
.reset {
  font-size: 24px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 24px;
  height: 24px;
  color: #888;
}

/* line 262, ../sass/ace.event.scss */
.zones-button {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  font-weight: bold;
  border: solid 1px #dedede;
  top: 10px;
  position: absolute;
  right: 0;
  display: table;
  padding: 4px 4px 4px 12px;
}
/* line 276, ../sass/ace.event.scss */
.zones-button span {
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
  font-weight: 700;
}
/* line 282, ../sass/ace.event.scss */
.zones-button .zones-arrow {
  display: table-cell;
  color: #d00;
}

/* line 288, ../sass/ace.event.scss */
.filter-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  border-right: solid 1px #dedede;
  border-left: solid 1px #dedede;
}

/* line 307, ../sass/ace.event.scss */
.qty-container {
  width: 176px;
  text-align: center;
}

/* line 311, ../sass/ace.event.scss */
.max-price-container {
  width: 130px;
  height: 55px;
  /* vertical-align: middle; */
  padding: 9px;
}

/* line 317, ../sass/ace.event.scss */
.compare-container {
  width: 136px;
  height: 55px;
  position: relative;
  background: #f5fcff;
}

/* line 323, ../sass/ace.event.scss */
.compare-button {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 30px;
  border: solid 1px #bfbfbf;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
}

/* line 340, ../sass/ace.event.scss */
.max-price-input {
  border: solid 1px #dedede;
  width: 100%;
  display: table;
  height: 35px;
  padding-left: 3px;
}
/* line 346, ../sass/ace.event.scss */
.max-price-input span {
  display: table-cell;
  line-height: 35px;
}
/* line 350, ../sass/ace.event.scss */
.max-price-input input {
  border: none;
  display: inline-block;
  width: 105px;
}

/* line 356, ../sass/ace.event.scss */
.filter-listings-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  border-right: solid 1px #dedede;
  border-left: solid 1px #dedede;
}

/* Styles go here */
/* line 370, ../sass/ace.event.scss */
button.sort-btn {
  display: inline-table;
  line-height: 30px;
  vertical-align: middle;
  border: none;
  background: none;
  border-bottom: solid 1px #dedede;
  border-top: solid 1px #dedede;
  padding: 15px 10px;
}

/* line 380, ../sass/ace.event.scss */
button.sort-btn span {
  display: table-cell;
}
/* line 382, ../sass/ace.event.scss */
button.sort-btn span .material-icons {
  vertical-align: middle;
}

/* line 386, ../sass/ace.event.scss */
.sort-selected {
  color: #d00;
}

/* line 389, ../sass/ace.event.scss */
.sort-section {
  width: 193px;
}

/* line 392, ../sass/ace.event.scss */
.sort-qty,
.sort-price {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  ms-flex: 1;
  flex: 1;
}

/* line 400, ../sass/ace.event.scss */
.table-container {
  margin: 0 auto;
  min-height: 400px;
  border: solid 1px #dedede;
  width: 600px;
}

/* line 406, ../sass/ace.event.scss */
#productList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 600px;
  overflow: scroll;
  border-right: solid 1px #dedede;
  border-left: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
}

/* line 416, ../sass/ace.event.scss */
.productInfo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  ms-flex: 1;
  flex: 1;
  padding: 25px 10px;
  border-bottom: solid 1px #dedede;
}

/* line 425, ../sass/ace.event.scss */
.productContainer li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

/* line 436, ../sass/ace.event.scss */
.section-qty-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  align-items: center;
}
/* line 447, ../sass/ace.event.scss */
.section-qty-price .section-listing {
  flex: 2;
  max-width: 190px;
}
/* line 450, ../sass/ace.event.scss */
.section-qty-price .section-listing a {
  font-weight: 700;
  color: #333;
  font-size: 1.2em;
}
/* line 455, ../sass/ace.event.scss */
.section-qty-price .section-listing span {
  color: #777;
}
/* line 459, ../sass/ace.event.scss */
.section-qty-price .qty-listing {
  width: 100px;
}
/* line 462, ../sass/ace.event.scss */
.section-qty-price .price-listing {
  flex: 1;
}
/* line 464, ../sass/ace.event.scss */
.section-qty-price .price-listing span {
  padding: 12px 0;
  background: #d00;
  color: #fff;
  display: block;
  text-align: center;
}
/* line 470, ../sass/ace.event.scss */
.section-qty-price .price-listing span:hover {
  cursor: pointer;
  background: #ad0000;
}

/* line 477, ../sass/ace.event.scss */
.notes-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
}
/* line 489, ../sass/ace.event.scss */
.notes-container .material-icons {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
/* line 494, ../sass/ace.event.scss */
.notes-container .instant-delivery {
  color: #00aa0c;
}
/* line 497, ../sass/ace.event.scss */
.notes-container .email-delivery {
  color: #00a5bd;
}
/* line 500, ../sass/ace.event.scss */
.notes-container .mobile-delivery {
  color: #9000af;
}
/* line 503, ../sass/ace.event.scss */
.notes-container div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  ms-flex: 1;
  flex: 1;
  padding: 24px 0 0px;
  text-align: center;
}
/* line 512, ../sass/ace.event.scss */
.notes-container div:first-child {
  text-align: left;
}

/* line 519, ../sass/ace.event.scss */
.notes-text {
  vertical-align: middle;
}

/* line 522, ../sass/ace.event.scss */
.checkbox {
  background: #f5fcff;
  width: 25px;
  position: relative;
}
/* line 526, ../sass/ace.event.scss */
.checkbox input[type="checkbox"] {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 535, ../sass/ace.event.scss */
#price-asc {
  display: none;
}

/* line 538, ../sass/ace.event.scss */
#section-asc {
  display: none;
}

/* line 541, ../sass/ace.event.scss */
#qty-asc {
  display: none;
}

@media only screen and (max-width: 40.063em) {
  /* line 545, ../sass/ace.event.scss */
  .flex-event .event-name {
    font-size: 15px;
  }

  /* line 548, ../sass/ace.event.scss */
  .flex-event .event-details {
    font-size: 13px;
    margin-top: 5px;
  }

  /* line 552, ../sass/ace.event.scss */
  .map-wrapper {
    flex-direction: column-reverse;
  }

  /* line 555, ../sass/ace.event.scss */
  .ticket-container {
    max-width: none;
  }

  /* line 558, ../sass/ace.event.scss */
  .map-wrapper .checkbox {
    display: none;
  }

  /* line 561, ../sass/ace.event.scss */
  .zones-button {
    display: none;
  }

  /* line 564, ../sass/ace.event.scss */
  .compare-container {
    display: none;
  }

  /* line 567, ../sass/ace.event.scss */
  .filter-dialog-button {
    display: inline-block;
  }

  /* line 570, ../sass/ace.event.scss */
  .filter-container {
    display: none;
    width: 90%;
    height: 300px;
    position: fixed;
    background: #fff;
    margin: 0 auto;
    border: solid 1px #dedede;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 101;
  }

  /* line 585, ../sass/ace.event.scss */
  .section-listing {
    font-size: 14px;
  }
  /* line 587, ../sass/ace.event.scss */
  .section-listing span {
    font-size: 13px;
  }

  /* line 591, ../sass/ace.event.scss */
  .sort-section {
    width: 160px;
  }

  /* line 594, ../sass/ace.event.scss */
  .notes-container {
    font-size: 10px;
  }

  /* line 597, ../sass/ace.event.scss */
  .productList {
    height: inherit;
  }

  /* line 600, ../sass/ace.event.scss */
  .button-wrapper {
    position: relative;
    flex-direction: row;
    top: 0;
    left: 0;
  }

  /* line 606, ../sass/ace.event.scss */
  .filter-listings-buttons {
    background: #e9e9e9;
    margin-top: 5px;
  }

  /* line 610, ../sass/ace.event.scss */
  .button-wrapper .button {
    width: inherit;
    border-radius: 12px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    ms-flex: 1;
    flex: 1;
  }

  /* line 619, ../sass/ace.event.scss */
  .button:hover:before,
  .button:hover:after {
    display: none;
  }

  /* line 623, ../sass/ace.event.scss */
  .notes-container div:first-child {
    text-align: center;
  }
}
