/* line 4, ../sass/header.scss */
header {
  width: 100%;
  height: 110px;
  background-color: #222;
}
@media only screen and (max-width: 40.063em) {
  /* line 4, ../sass/header.scss */
  header {
    height: initial;
  }
}

/* line 12, ../sass/header.scss */
header:after {
  content: '';
  display: table;
  clear: both;
}

/* line 17, ../sass/header.scss */
.header-container {
  padding: 0;
  width: 100%;
  max-width: 1280px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}
@media only screen and (max-width: 40.063em) {
  /* line 17, ../sass/header.scss */
  .header-container {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    height: initial;
    background: #222;
  }
}

/* line 39, ../sass/header.scss */
#black-bar {
  width: 100%;
  height: 41px;
  border-bottom: solid 1px #2f3032;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 40.063em) {
  /* line 39, ../sass/header.scss */
  #black-bar {
    display: none;
  }
}

/* line 49, ../sass/header.scss */
.header-col-generic {
  align-items: stretch;
}
@media only screen and (max-width: 40.063em) {
  /* line 49, ../sass/header.scss */
  .header-col-generic {
    width: initial;
  }
}

/* line 56, ../sass/header.scss */
.header-col-1 {
  flex-grow: 1;
  max-width: 215px;
  min-width: 100px;
  position: relative;
}
/* line 61, ../sass/header.scss */
.header-col-1 img {
  width: 100%;
  position: absolute;
  top: 7px;
}
@media only screen and (max-width: 40.063em) {
  /* line 56, ../sass/header.scss */
  .header-col-1 {
    order: 1;
    max-width: none;
  }
  /* line 69, ../sass/header.scss */
  .header-col-1 img {
    width: 135px;
    position: relative;
    left: 5px;
    top: 6px;
  }
}

/* line 77, ../sass/header.scss */
.header-col-2 {
  flex-grow: 2;
  max-width: 435px;
}
@media only screen and (max-width: 40.063em) {
  /* line 77, ../sass/header.scss */
  .header-col-2 {
    order: 3;
    width: 100%;
    max-width: none;
  }
}

/* line 86, ../sass/header.scss */
.header-col-3 {
  flex-grow: 2;
  max-width: 640px;
}
@media only screen and (max-width: 40.063em) {
  /* line 86, ../sass/header.scss */
  .header-col-3 {
    order: 2;
    max-width: none;
  }
}

/* line 94, ../sass/header.scss */
.location-icon {
  color: #dedede;
}

/* line 97, ../sass/header.scss */
.location-arrow {
  color: #d00;
  top: 4px;
  position: relative;
}

/* line 102, ../sass/header.scss */
#search-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  width: 100%;
}
/* line 111, ../sass/header.scss */
#search-container .col-1 {
  height: 40px;
  color: #fff;
}
@media only screen and (max-width: 40.063em) {
  /* line 111, ../sass/header.scss */
  #search-container .col-1 {
    background-color: #333;
  }
}
/* line 118, ../sass/header.scss */
#search-container .col-2 {
  height: 70px;
  position: relative;
}
/* line 121, ../sass/header.scss */
#search-container .col-2 input[type="text"] {
  border: solid 1px #dedede;
  bottom: 0;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  height: 49px;
  left: 0;
  margin: auto;
  padding-left: 19px;
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
}
/* line 136, ../sass/header.scss */
#search-container .col-2 input[type="placeholder"] {
  color: #666;
}
@media only screen and (max-width: 40.063em) {
  /* line 118, ../sass/header.scss */
  #search-container .col-2 {
    margin: 12px 0 3px;
  }
}
/* line 143, ../sass/header.scss */
#search-container .table {
  height: 40px;
  margin-left: 15px;
}
@media only screen and (max-width: 40.063em) {
  /* line 143, ../sass/header.scss */
  #search-container .table {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 40.063em) {
  /* line 102, ../sass/header.scss */
  #search-container {
    flex-direction: column-reverse;
  }
}

/* line 154, ../sass/header.scss */
#menu-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  width: 100%;
}
/* line 163, ../sass/header.scss */
#menu-container .col-1 {
  height: 40px;
  background-color: yellow;
}
/* line 167, ../sass/header.scss */
#menu-container .col-2 {
  height: 70px;
  background-color: red;
}

/* SVG Logo Drop Shadow */
/* line 174, ../sass/header.scss */
.shadow {
  -webkit-filter: drop-shadow(-5px 2px 4px #000);
  /* Same syntax as box-shadow */
  filter: drop-shadow(-5px 2px 4px #000);
}
@media only screen and (max-width: 40.063em) {
  /* line 174, ../sass/header.scss */
  .shadow {
    -webkit-filter: drop-shadow(-2px 2px 3px #000);
    filter: drop-shadow(-2px 2px 3px #000);
  }
}

/* ====================

    Sub Nav

==================== */
/* line 192, ../sass/header.scss */
#subnav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
/* line 200, ../sass/header.scss */
#subnav li {
  flex: 1 0 auto;
  text-align: center;
}
/* line 205, ../sass/header.scss */
#subnav li:hover {
  background: none !important;
}
/* line 208, ../sass/header.scss */
#subnav li a {
  display: table;
  color: #dedede;
}
/* line 211, ../sass/header.scss */
#subnav li a:hover {
  color: #fff;
}
/* line 215, ../sass/header.scss */
#subnav li .icon, #subnav li span {
  display: table-cell;
  vertical-align: middle;
}
/* line 219, ../sass/header.scss */
#subnav li .icon {
  width: 22px;
  font-size: 22px;
  padding-right: 5px;
}
@media only screen and (max-width: 40.063em) {
  /* line 192, ../sass/header.scss */
  #subnav {
    height: initial;
  }
}

/* ====================

    Nav

==================== */
/* line 234, ../sass/header.scss */
nav {
  height: 70px;
}

/* line 238, ../sass/header.scss */
.menubar ul#main-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  width: 100%;
  height: 70px;
}
/* line 251, ../sass/header.scss */
.menubar ul#main-nav li.checkbox {
  display: none;
}
@media only screen and (max-width: 40.063em) {
  /* line 251, ../sass/header.scss */
  .menubar ul#main-nav li.checkbox {
    display: block;
  }
}
/* line 257, ../sass/header.scss */
.menubar ul#main-nav li.flexit {
  text-align: center;
  position: relative;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 70px;
  text-transform: uppercase;
}
/* line 266, ../sass/header.scss */
.menubar ul#main-nav li.flexit a {
  display: block;
  padding: 26px 0 25px;
  color: white;
}
@media only screen and (max-width: 40.063em) {
  /* line 266, ../sass/header.scss */
  .menubar ul#main-nav li.flexit a {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 40.063em) {
  /* line 238, ../sass/header.scss */
  .menubar ul#main-nav {
    display: block;
    height: initial;
  }
  /* line 278, ../sass/header.scss */
  .menubar ul#main-nav .material-icons {
    display: none;
  }
}

/* line 284, ../sass/header.scss */
.top-link .icon {
  display: none;
}
@media only screen and (max-width: 40.063em) {
  /* line 284, ../sass/header.scss */
  .top-link .icon {
    width: 24px;
    display: table-cell;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 40.063em) {
  /* line 292, ../sass/header.scss */
  .top-link span {
    display: table-cell;
    vertical-align: middle;
  }
}

/* line 299, ../sass/header.scss */
.menubar ul li:hover {
  background-color: #fff;
  color: #fff !important;
  z-index: 101;
}
/* line 303, ../sass/header.scss */
.menubar ul li:hover a.top-link {
  color: #333 !important;
}

/* line 307, ../sass/header.scss */
.menubar ul li ul {
  display: none;
  width: 490px;
  margin: 0;
  padding: 0;
}

/* line 313, ../sass/header.scss */
.menubar ul li ul.left {
  left: 0;
}

/* line 316, ../sass/header.scss */
.menubar ul li ul.right {
  right: 0;
}

/* line 319, ../sass/header.scss */
.menubar ul li ul li {
  float: none;
  background: #0cb78a;
  display: block;
  color: #fff;
  border-radius: 0;
  border-top: solid 1px #11c693;
}

/* line 328, ../sass/header.scss */
.menubar ul li ul li:first-child {
  border-top: none;
}

/* line 332, ../sass/header.scss */
.menubar ul li ul li a {
  width: auto;
  min-width: 100px;
  color: #fff !important;
}

/* line 338, ../sass/header.scss */
.menubar li.mobile-btn {
  display: none;
}

/* line 342, ../sass/header.scss */
.menubar ul li a:hover + .hidden,
.hidden:hover {
  display: block;
  position: absolute;
}

/* line 348, ../sass/header.scss */
.drop-menu {
  display: flex;
  background: #fff;
  text-align: left;
  padding-top: 17px;
  padding-bottom: 20px;
  box-shadow: 2px 5px 5px #333;
}
/* line 355, ../sass/header.scss */
.drop-menu div {
  flex: 1;
  padding: 6px;
}
/* line 358, ../sass/header.scss */
.drop-menu div a {
  padding: 6px !important;
  color: #333 !important;
}
/* line 361, ../sass/header.scss */
.drop-menu div a:hover {
  background-color: #b81f24;
  color: #fff !important;
}
/* line 367, ../sass/header.scss */
.drop-menu div:first-child {
  border-right: solid 1px #dedede;
}

/*Style 'show menu' label button and hide it by default*/
/* line 372, ../sass/header.scss */
.mag-glass {
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto;
  z-index: 101;
  font-size: 30px;
  color: #666;
}

/* line 384, ../sass/header.scss */
.show-menu {
  display: none;
  text-indent: -9999;
}

/* line 389, ../sass/header.scss */
.close-menu {
  background: #19c589;
  height: 48px;
  position: relative;
}

/* line 395, ../sass/header.scss */
.close-position {
  position: absolute;
  margin: auto;
  left: 10px;
  top: 0;
  bottom: 0;
}

/* line 403, ../sass/header.scss */
#menu-spacer {
  display: none;
  height: 100px;
}
@media only screen and (max-width: 40.063em) {
  /* line 403, ../sass/header.scss */
  #menu-spacer {
    display: block;
    height: 200px !important;
  }
}

/*Hide checkbox*/
/* line 414, ../sass/header.scss */
.menu-checkbox {
  display: none;
  -webkit-appearance: none;
}

/*
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.menu ul li {
  display: inline-block;
  position: relative;
}

.menu ul li a {
  display: block;
  padding: 13px 13px 14px;
  color: #fff;
}

.menu ul li:hover {
  background-color: #0cb78a;
  color: #fff !important;
  z-index: 101;
}

.menu ul li ul {
  display: none;
  width: 250px;
  left: 0;
}

.menu ul li ul li {
  float: none;
  background: #0cb78a;
  display: block;
  color: #fff;
  border-radius: 0;
  border-top: solid 1px #11c693;
}

.menu ul li ul li:first-child {
  border-top: none;
}

.menu ul li ul li a {
  width: auto;
  min-width: 100px;
  color: #fff !important;
}

.menu ul li ul li a:hover {
  color: white !important;
  background-color: #11c693;
}

.menu ul li.mobile-btn {
  display: none;
}

.menu ul li a:hover + .hidden,
.hidden:hover {
  display: block;
  position: absolute;
}

.withmenu a:hover {}
*/
@media screen and (max-width: 40.063em) {
  /* line 491, ../sass/header.scss */
  .keyboard {
    display: none;
  }

  /* line 494, ../sass/header.scss */
  input[type=checkbox]:checked ~ .menubar {
    left: 0;
    top: 99px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    width: 100%;
  }

  /* line 506, ../sass/header.scss */
  #close-it {
    order: 1;
  }

  /* line 509, ../sass/header.scss */
  #subnav {
    order: 3;
  }

  /* line 512, ../sass/header.scss */
  #main-nav {
    order: 2;
  }

  /* line 515, ../sass/header.scss */
  .menubar ul {
    display: block;
  }

  /*Make dropdown links appear inline*/
  /* line 519, ../sass/header.scss */
  .menubar {
    /*-webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;*/
    position: static;
    display: block;
    background: #333;
    position: absolute;
    top: -999px;
    border-top: solid 1px #555;
    z-index: 101;
  }

  /* line 536, ../sass/header.scss */
  .menubar ul li ul {
    display: none !important;
  }

  /*Create vertical spacing*/
  /* line 541, ../sass/header.scss */
  .menubar ul li {
    border: none;
  }

  /*Make all menu links full width*/
  /* line 545, ../sass/header.scss */
  .menubar ul li,
  .menubar ul li a {
    width: 100%;
  }

  /* line 549, ../sass/header.scss */
  .menubar ul li.flexit {
    height: initial !important;
    text-align: left !important;
  }
  /* line 552, ../sass/header.scss */
  .menubar ul li.flexit a {
    padding: 11px 0 !important;
  }

  /* line 556, ../sass/header.scss */
  .menubar ul li {
    border-radius: 0;
    text-align: left;
    text-indent: 1em;
  }

  /* line 561, ../sass/header.scss */
  .menubar ul li a {
    border-bottom: solid 1px #555;
  }

  /* line 564, ../sass/header.scss */
  .menubar ul li a:hover {
    border-radius: 0 !important;
  }

  /* line 567, ../sass/header.scss */
  .menubar ul li a:active {
    background-color: #d00 !important;
  }

  /* line 570, ../sass/header.scss */
  #subnav {
    display: block;
  }
  /* line 572, ../sass/header.scss */
  #subnav li {
    height: initial;
  }
  /* line 574, ../sass/header.scss */
  #subnav li a {
    display: block;
    padding: 11px 0;
    color: white;
    text-align: left;
  }

  /* line 582, ../sass/header.scss */
  .show-menu {
    display: block;
  }

  /* line 585, ../sass/header.scss */
  .hamburger-menu {
    display: block;
    height: 65px;
    background: #454545;
    position: absolute;
    width: 65px;
    right: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    top: 9px;
  }

  /* line 599, ../sass/header.scss */
  .img-fill {
    /* display: inline-block; */
    height: 30px;
    width: 100%;
    /* background-color: #0cb78a; */
    /* float: right; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  /* line 612, ../sass/header.scss */
  .menu-position {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 30px;
    height: initial;
  }
}
