<div class="design-nav__wrapper">

  <div class="design-nav__container">
    <div class="design-nav__heading">Projects</div>

    <ul class="design-nav">
      <li>
        <a href="#responsive">
          <span class="design-nav__tooltip">
            <img src="{{site.baseurl}}/img/designs/aceticket/responsive-home-screen.jpg" alt="Ace Ticket responsive" class="design-nav__image" />
            <span class="design-nav__tooltiptext">Ace Ticket Responsive</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#patternlab">
          <span class="design-nav__tooltip">
            <img src="{{site.baseurl}}/img/designs/patternlab/message.png" alt="Pattern Lab exercise" class="design-nav__image" />
            <span class="design-nav__tooltiptext">Pattern Lab exercise</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#task">
          <span class="design-nav__tooltip">
            <img src="{{site.baseurl}}/img/designs/taskmanager/Task-screenshot.png" alt="Task manager" class="design-nav__image" />
            <span class="design-nav__tooltiptext">Task manager</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#btkd">
          <span class="design-nav__tooltip">
            <img src="{{site.baseurl}}/img/designs/bostontkd/bostontkd-home-page.jpg" alt="Boston TKD" class="design-nav__image" />
            <span class="design-nav__tooltiptext">Boston TKD</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#acenews">
          <span class="design-nav__tooltip">
            <img src="{{site.baseurl}}/img/designs/aceticket/ace-email-campaign.jpg" alt="Ace ticket newsletter" class="design-nav__image" />
            <span class="design-nav__tooltiptext">Ace Ticket newsletter</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#aceticket">
          <span class="design-nav__tooltip">
            <img src="{{site.baseurl}}/img/designs/aceticket/old-home-page.jpg" alt="Ace Ticket" class="design-nav__image" />
            <span class="design-nav__tooltiptext">AceTicket.com</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#embrace">
          <span class="design-nav__tooltip">
            <img src="{{site.baseurl}}/img/designs/aceticket/ace-embrace-logo.jpg" alt="Ace Embrace logo" class="design-nav__image" />
            <span class="design-nav__tooltiptext">Ace Embrace</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
