<footer>
  <div class="footer__icon-container">
    <div>
      <a href="https://www.linkedin.com/in/knottaverage" target="_blank">
        <img src="../img/linkedin.svg" />
      </a>
    </div>
    <div>
      <a href="https://github.com/knottaverage" target="_blank">
        <img src="../img/github.svg" />
      </a>
    </div>
    <div>
      <a href="https://codepen.io/knottaverage" target="_blank">
        <img src="../img/codepen.svg" />
      </a>
    </div>
    <div>&bull;</div>
    <!--<div>
      <a href="" target="_blank">
        <img src="../img/document-icon.svg" />
      </a>
    </div>-->
    <div>
      knottaverage[@]gmail.com
    </div>
    <div>&bull;</div>
    <div>
      (707) 494-1384
    </div>
  </div>
</footer>
