<div class="header_wrapper">
  <div class="header">
    <div class="logo_container">
      <a href="{{ "/" | prepend: site.baseurl }}">
        {% if page.url == "/" %}
          <img src="{{site.baseurl}}/img/2018/logos/logo--purple.svg" alt="Logo Home" />
        {% endif %}
        {% if page.url == "/work/" %}
          <img src="{{site.baseurl}}/img/2018/logos/logo--black.svg" alt="Logo Home" />
        {% endif %}
        {% if page.url == "/fsg/" %}
          <img src="{{site.baseurl}}/img/2018/logos/logo--red.svg" alt="Logo Home" />
        {% endif %}
        {% if page.url == "/ace-designs/" %}
          <img src="{{site.baseurl}}/img/2018/logos/logo--red.svg" alt="Logo Home" />
        {% endif %}
        {% if page.url == "/task-manager/" %}
          <img src="{{site.baseurl}}/img/2018/logos/logo--aqua.svg" alt="Logo Home" />
        {% endif %}
        {% if page.url == "/quanta/" %}
          <img src="{{site.baseurl}}/img/2018/logos/logo--ltblue.svg" alt="Logo Home" />
        {% endif %}
      </a>
    </div>
    <div class="nav_wrapper">
      <ul>
        <!--<li><a href="{{ "/bio/" | prepend: site.baseurl }}" {% if page.url == "/bio/"%}class="active"{% endif %}>Bio</a></li>-->
        <li><a href="{{ "/work/" | prepend: site.baseurl }}" {% if page.url == "/work/"%}class="active"{% endif %}>Work</a></li>
        <li><a href="{{ "/downloads/StephenKnottUXResume.pdf" | prepend: site.baseurl }}" target="_blank">Resum&eacute;</a></li>
        <!--<li><a href="{{ "/contact/" | prepend: site.baseurl }}" {% if page.url == "/contact/"%}class="active"{% endif %}>Contact</a></li>-->
      </ul>
    </div>
  </div>
</div>
