<div class="new__logo-container animated fadeIn">
  <a href="{{ "/" | prepend: site.baseurl }}"><img src="../img/logo.svg" /></a>
</div>
<nav role="navigation" class="">
  <div class="new__menu-button">
    <span>Menu</span>
    <span>
      <img src="../img/new__hamburger--purple.svg"/>
    </span>
  </div>
  <ul class="new__nav">
    <li><a href="{{ "/" | prepend: site.baseurl }}" {% if page.url == "/"%}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ "/designs/" | prepend: site.baseurl }}" {% if page.url == "/designs/"%}class="active"{% endif %}>Portfolio</a></li>
    <li><a href="{{ "/snippets/" | prepend: site.baseurl }}" {% if page.url == "/snippets/"%}class="active"{% endif %}>Snippets</a></li>
    <li><a href="{{ "/contact/" | prepend: site.baseurl }}" {% if page.url == "/contact/"%}class="active"{% endif %}>Contact</a></li>
    <li class="new__close-button">
      <span><img src="../img/new__close-button.svg"/></span>
    </li>
  </ul>
</nav>
