<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}
  <div class="post-container">
    <div class="post-container__col-1">
      <div class="post-container__content">
        <div style="background: url({{ page.hero }});" class="hero-image">
          <div class="post-container__heading-overlay">
            <h2>{{ page.title }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="side-archive-container">
      <p class="side-archive-container__heading">Notes archive</p>
      <p>More notes coming soon.</p>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
