<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="body-container">
    <div class="body-container__left-column">
      <div class="logo-container">
    		<a href="/">
          <span class="logo-container__bold">Knottaverage's</span>
          <span class="logo-container__subtext">pixels and pencils.</span>
        </a>
    	</div>
      {% include nav.html %}
    </div>
    <div class="body-container__right-column">
      <div class="basic-container--animate">
        <div class="basic-container post-container">
          <div class="basic-container__top-knot"></div>
          <div style="background: url({{ page.hero }}); height: 300px; width: 100%;">
            <h2>{{ page.title }}</h2>
          </div>
          <div class="post-container__content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  {% include analytics.html %}
</html>
